[project]
	description = Modifications to Loring Craymers bison grammar for antlr - allowing hacky bison->antlr grammar transliterations
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Damien Chesneau (damienChesneau)
[access "refs/for/refs/*"]
	read = group user/Damien Chesneau (damienChesneau)
	push = group user/Damien Chesneau (damienChesneau)
	label-Code-Review = -2..+2 group user/Damien Chesneau (damienChesneau)
	label-Verified = -1..+1 group user/Damien Chesneau (damienChesneau)
	rebase = group user/Damien Chesneau (damienChesneau)
	removeReviewer = group user/Damien Chesneau (damienChesneau)
	submit = group user/Damien Chesneau (damienChesneau)
[access "refs/heads/*"]
	read = group user/Damien Chesneau (damienChesneau)
	create = group user/Damien Chesneau (damienChesneau)
	push = +force group user/Damien Chesneau (damienChesneau)
	pushMerge = group user/Damien Chesneau (damienChesneau)
[access "refs/tags/*"]
	push = +force group user/Damien Chesneau (damienChesneau)
	pushTag = group user/Damien Chesneau (damienChesneau)
	pushSignedTag = group user/Damien Chesneau (damienChesneau)
